* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("./images/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 8px #888888;
  width: 695px;
  height: 842px;
  background-color: rgb(236, 236, 236);
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 34%;
  height: 100%;
  /* border-right: 1px solid black; */
  background-color: rgb(15, 15, 49);
  color: #fff;
}

.left-section img {
  margin-top: 1rem;
}

.personal-details {
  /* margin: 0; */
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: black;
}

.personal-details p {
  margin-left: 1rem;
  /* margin-top: 1rem; */
}

.right-section {
  width: 66%;
  height: 100%;
}

.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
