* {
  margin: 0;
  padding: 0;
}

.background {
  background-image: url("./images/background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  box-shadow: 2px 2px 8px #888888;
  width: 695px;
  height: 842px;
  background-color: rgb(236, 236, 236);
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 34%;
  height: 100%;
  background-color: rgb(15, 15, 49);
  color: #fff;
}

.image {
  width: 100%;
  height: 40%;
  background-image: url("./images/eu.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

.right-section {
  width: 66%;
  height: 100%;
}

/* .profile-photo {
  width: 150%;
  height: 150%;
  object-fit: cover;
} */
